<div class="row no-gutters align-items-center features-border">
    <div class="col-lg-2 text-center text-center ">
        <%= image_tag 'logo.svg' %>
    </div>
    <div class="col-lg-6">
        <ul class="features-title pl-0">
            <li>
                <h4>Nasalis Larvatus</h4>
            </li>
        </ul>

        <ul class="features-title pl-0">
            <li> <i class="fas fa-star"></i>4.15 (15)</li>
            <li><i class="fal fa-hourglass"></i>9 years experience</li>
            <li><i class="far fa-comments"></i>Speaks English, Bahasa </li>
        </ul>

        <p class="features-details">“Multi language guides, flexible and accommodating”</p>
    </div>
    <div class="col-lg-4 d-flex align-items-center">
        <div class="col-lg-10 pl-0">
            <ul class="rating">
                <li><span>US$452</span></li>
                <li>Per person</li>
                <li>Includes Meals & Accommodation,</li>
                <li>Transport, Free cancellation</li>
            </ul>
        </div>
        <div class="col-lg-2">
            <i class="fal fa-chevron-down feature-collapse" data-toggle="collapse" href="#collapseExample2"></i>
        </div>

    </div>

    <div class="row">
        <div class="collapse " id="collapseExample2">
            <div class="row services d-flex ">
                <div class="col-lg-8 d-flex align-items-center ml-auto pl-0 ml-auto">
                    <div class="col-lg-7">
                        <h5 class="my-4">WHAT’S INCLUDED</h5>
                        <div class="row">
                            <i class="fal fa-bed"></i>
                            <div class="col-lg-10">
                                <p>1 night dormitory accommodation at Laban Rata Resthouse</p>
                            </div>
                        </div>
                        <div class="row">
                            <i class="far fa-truck"></i>
                            <div class="col-lg-10">
                                <p>Pick up at your hotel in Kota Kinabalu town at 6am on the activity start date and drop-off at 5pm on the following day at your hotel.</p>
                            </div>
                        </div>
                        <div class="row">
                            <i class="far fa-utensils"></i>
                            <div class="col-lg-10">
                                <p>Meals provided</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <h5 class="my-4">EXTRAS</h5>
                        <ul class="highlights p-0">
                            <li>Entrance fees</li>
                            <li>Insurance</li>
                            <li>State park guide</li>
                            <li>Climbing permit</li>
                            <li>Certificate of completion</li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-2">
                    <button type="button" class="btn btn-outline-primary">View Details</button>
                </div>

            </div>
        </div>
    </div>
</div>
