<section id="header">
  <nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="<%=root_path%>">Satchel<span>&nbsp;Calendar</span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <div class="navbar-nav ml-auto h-100">
        <div class="nav-item dropdown ml-5 d-flex">
          <a class="nav-link dropdown-toggle my-auto" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Admin unsername
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Admin</a>
            <a class="dropdown-item" href="#">Logout</a>
          </div>
        </div>
      </div>
    </div>
  </nav>
</section>
